body {
  font-family: 'Roboto', sans-serif;
  color: var(--header-color);
}
:root {
  --header-color: #212121;
  --description-color: #757575;
  --selection-color: #2196f3;
  --background-color: #e5e5e5;
  --section-dark-color: #2f303a;
  --brand-color-white: #fff;
  --brand-color-black: #000;
}
.link {
  text-decoration: none;
  color: var(--header-color);
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--brand-color-black);
}
.footer-logo {
  color: var(--brand-color-white);
}
.logo-color {
  color: var(--selection-color);
}
.header-menu,
.header-contact-menu {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.contact-details {
  color: var(--description-color);
}
.link-selected:hover,
.link-selected:focus {
  color: var(--selection-color);
}
.hero {
  background: var(--section-dark-color);
}
.header-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--brand-color-white);
}
.main-button {
  background: var(--selection-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--brand-color-white);
  padding: 10px 41px 10px 41px;
}
/* Wiem, że pozycjonowanie elementów będzie 
w następnym zadaniu, ale dopóki go nie zgłebiłam, 
to ustawiłam kolumny w taki sposób, żeby przyjemniej 
się patrzyło :) */
.what-we-do-list {
  column-count: 4;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.what-we-do-list span {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}
.header-secondary {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
}
.gallery {
  list-style-type: none;
  column-count: 3;
}
.our-team-photos {
  list-style-type: none;
  column-count: 4;
}
.jobs {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--description-color);
}
.address-list {
  list-style-type: none;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-color {
  background: var(--section-color);
}
.direct-message {
  color: rgba(255, 255, 255, 0.6);
}
