body {
  font-family: 'Roboto', sans-serif;
  color: var(--header-color);
}
:root {
  --header-color: #212121;
  --description-color: #757575;
  --selection-color: #2196f3;
  --background-color: #e5e5e5;
  --section-color: #2f303a;
}
.link {
  text-decoration: none;
  color: #212121;
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000;
}
.logo-color {
  color: var(--selection-color);
}
.navigation {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.link-selected:hover,
.link-selected:focus {
  color: var(--selection-color);
}
.contact-details {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.send-email {
  color: var(--description-color);
}
.call-us {
  color: var(--description-color);
}
.hero {
  background: var(--section-color);
}
.hero-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
